
@font-face {
	font-family:"vietnam";
	font-style:normal;
	font-weight:400;
	src: url("fonts/vietnam/BeVietnamPro-Medium.ttf");
}


@font-face { 
	font-family:"vietnam-black";
	font-style:black;
	font-weight:800;
	src: url("fonts/vietnam/BeVietnamPro-Black.ttf");
}

@font-face {
	font-family:"vietnam-bold";
	font-style:black;
	font-weight:600;
	src: url("fonts/vietnam/BeVietnamPro-Bold.ttf");
}

body  {
  font-family: "vietnam";
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Raleway';
}

.navbar-brand{
    font-weight: 900;
}

.logos img{
    object-fit: contain;
    mix-blend-mode: color-burn; 
}


/* EFECTOS DE SCROLL */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* COLORES */

.azul {
  color: #006C9E;
}

.azuloscuro {
  color: #02477A;
}

.azulclaro {
  color: #589CD6;
}


.verde  {
  color: #A1C035;
}

.blanco  {
  color: white;
}

.rosa  {
  color: #C787A2;
}

.black {
  font-family: vietnam-black;
  font-weight: 800;
}

.info {
border: 0px;
background-color: #C787A2;
}

.card-body {
  padding: 1em 2em 1em 2em;
}


.card-b {
  background-color: white;
  text-decoration: none;
  min-height: 30vh;
  border-color: #3A6794;
  border-radius: 2em;
  img {border-radius: 2em 2em 0em 0em;}
}

.card-b .card-title {
  color: #3A6794;
}

a {
  text-decoration: none;
  color: #3A6794;
}

a:hover {
  color: #A1C035;
}

.card-b:hover {
  background-color: #589CD644;
}

button:hover, .card:hover {
  cursor: pointer;
  filter: drop-shadow(10px 10px 10px #9ca7c4bc);
  transform: scale(1.05);

}



.card-text {
  font-size: 0.9em;
}

.card-n {
background-color: #F3F2E2;
color: #016D9F;
text-decoration: none;
min-height: 20vh;
transition: 0.4s;
.card-footer {
  background-color: #F5F5F5;
  transition: 0.4s;
}
}

.card-n:hover {
  background-color: #004580;
  color: white;
   /* background: linear-gradient(#A1C035, #006C9E); */
   .card-footer {
    color: white;
    background-color: #004580;
    transition: 0.4s;
  }
  h5 {
    color: white;
  }
}


.card-n p {
  font-size: calc(0.75em + 1vmin);
}

.card-n h5 {
  color: #016D9F;
  font-size: calc(1.5em + 1vmin);
}


.card-i {
  background: url(img/fondito-boton.png);
  background-position: center;
  background-size: cover;
  background-color: #E8F7C2;
  color: #016D9F;
  text-decoration: none;
  min-height: 20vh;
  transition: 0.4s;
  .card-footer {
    background-color: #F5F5F5;
    color: #004580;
    transition: 0.4s;
  }
  }
  
  .card-i:hover {
    background-color: #016D9F;
    color: white;
     /* background: linear-gradient(#A1C035, #006C9E); */
     .card-footer {
      color: white;
      background-color: #004580;
      transition: 0.4s;
    }
    h5 {
      color: white;
    }
  }
  
  
  .card-i p {
    font-size: calc(0.75em + 1vmin);
  }
  
  .card-i h5 {
    color: #016D9F;
    font-size: calc(1.5em + 1vmin);
  }




.card-a {
  background-color: #A1C035;
  color: white;
  text-decoration: none;
  min-height: 30vh;
  transition: 0.4s;
}

.card-a:hover {
  background-color: #004580;
   /* background: linear-gradient(#A1C035, #006C9E); */
}

.card-a p {
  font-size: calc(0.75em + 1vmin);
}

.card-a h5 {
  font-size: calc(1.5em + 1vmin);
}

.tarjeta:hover {
  background-color: #004580;
}


.bg-gradiente {
  background: linear-gradient(#A1C035, #006C9E);
}

.bg-gradiente2 {
  background: linear-gradient(#BAE8A9, #7CB7A5);
}

.bg-gradiente3 {
  background: linear-gradient(white, #D3DFAB);
}


.btn-verde  {
  background-color: #A1C035;
  color: white;
}
.btn-verde:hover  {
  background-color: #004580;
  color: white;
}

.btn-azul  {
  background-color: #004580;
  color: white;
}
.btn-azul:hover  {
  background-color: #A1C035;
  color: white;
}

.detalles {
  color: #696969;
  font-style: italic;
}


.bg-verde {
  background-color: #A9BE45;
}

.bg-rosa {
  background-color: #C787A2;
} 

.centrado {
  margin: auto;
  text-align: center;
}

.vh25 {min-height: 25vh
}

.tarjeta {
  color: white;
  margin: 0.5em;
  text-decoration: none;
  border-radius: 15px;
  height: 38vh;
  transition: 0.4s;
  position: relative;
}

.tarjeta:hover {
  background-color: #004580;
}

.tarjeta a{
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.tarjeta p {
  font-size: calc(0.75em + 1vmin);
}

.tarjeta h2 {
  font-size: calc(1.75em + 1vmin);
}

.tarjeta .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.icono-recorrido {
  position: absolute; 
  left: -30px; 
  top: 50px; 
  z-index: -1; 
  height: 160px; 
  width: 180px; 
  filter: opacity(0.9);
}

.logo-menu {
  z-index: 2;
  position:absolute ;
  top: 1em;
  right: 1em;
  height: 3.5em;
  filter: opacity(0.8) drop-shadow(2px 2px 4px white);
  transition: 0.4s;
}

.logo-menu:hover {
  filter: opacity(1);
  transform: scale(1.1);
}

.menu1, .menu2, .menu3 {
  z-index: 2;
  position: fixed;
  right: 1em;
  max-width: 1.8em;
  transition: 0.4s;
  filter: opacity(0.5);

}

.menu1 {
  top: 5.5em;
}

.menu2 {
  top: 9em;
}

.menu3 {
  top: 11.5em;
}

.menu1:hover, .menu2:hover, .menu3:hover {
  filter: opacity(1);
  transform: scale(1.2);
}

.menu1selected {
  filter: opacity(1);
    }
 
  
  .menu1selected:hover {
    transform: scale(1);
    filter: opacity(1) drop-shadow(4px 4px 2px #64B0D7);
    }

.titulo {
  font-size: 7em;
  transition: 0.4s;
}

.boton-recorrido {
  background-color: #589CD6;
  border: 0px solid #3A6794;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  transition: 0.4s;
}

.boton-recorrido:hover {
  background-color: #3A6794;
  border: 0px solid white;
}

.boton-recorrido2 {
  background-color: #02477A;
  border: 0px;
  font-family: "vietnam-black";
  width: 80%;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 0.3em 1.5em;
  margin: 0em 0;
  transition: 0.4s;
}

.boton-recorrido2:hover {
  background-color: #A1C035;
}

.img-recorrido {
  height: 30vh;
  margin-top: 0.8em;
}

.recorrido:hover {
  transition: 0.4s;
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #cedaa2);
  .boton-recorrido2 {
    background-color: #A1C035;
    transform: scale(1);
  }
}

.boton-gris {
  background-color: #D8D8D8;
  border: 0px;
  color: #00427F;
  font-family:"vietnam-black";
  border-radius: 50px;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  transition: 0.4s;
}

.boton-gris:hover {
  background-color: #A1C035;
}

.item-footer:hover {
  transition: 0.4s;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px #cedaa2);
}

.boton-azul {
  background-color: white;
  border: 3px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: #3A6794;
  padding: 0.5em 0.8em;
  margin: 1em;
  transition: 0.4s;
}

.boton-azul:hover {
  background-color: #3A6794;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 0.5em 0.8em;
  margin: 1em;
}

.boton-azul2 {
  background-color: #3A6794;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 0.5em 0.8em;
  transition: 0.4s;
  margin-top: 0.5em;
}

.boton-azul2:hover {
  background-color: white;
  border: 3px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: #3A6794;
  padding: 0.5em 0.8em;
}

.card {
  transition: 0.4s;
}



button {
  border-radius: 50px;
}

.boton-rosa {
  background-color: #C787A2;
  font-size: 2em;
  border: 0px;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 0.5em 0.8em;
  margin: 0.5em;
  transition: 0.4s;
}

.boton-rosa:hover {
  background-color: white;
  font-size: 2em;
  border: 0px;
  border-radius: 50px;
  font-weight: 800;
  color: #C787A2;
  padding: 0.5em 0.8em;
  margin: 0.5em;
  transition: 0.4s;
}

/* ESTILOS REPRODUCTOR

audio::-webkit-media-controls-panel {
  background-color: #004580;
}

audio::-webkit-media-controls-timeline {
  color: white;
}

audio::-webkit-media-controls-volume-slider {
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

*/