
@font-face {
	font-family:"vietnam";
	font-style:normal;
	font-weight:400;
	src: url("fonts/vietnam/BeVietnamPro-Medium.ttf");
}


@font-face { 
	font-family:"vietnam-black";
	font-style:black;
	font-weight:800;
	src: url("fonts/vietnam/BeVietnamPro-Black.ttf");
}

@font-face {
	font-family:"vietnam-bold";
	font-style:black;
	font-weight:600;
	src: url("fonts/vietnam/BeVietnamPro-Bold.ttf");
}

body  {
  font-family: "vietnam";
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Raleway';
}

.navbar-brand{
    font-weight: 900;
}

.logos img{
    object-fit: contain;
    mix-blend-mode: color-burn; 
}


/* EFECTOS DE SCROLL */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* COLORES */

.azul {
  color: #006C9E;
}

.verde  {
  color: #A1C035;
}

.blanco  {
  color: white;
}

.rosa  {
  color: #C787A2;
}

.black {
  font-family: vietnam-black;
  font-weight: 800;
}

.card-a {
  background-color: #A1C035;
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.card-a:hover {
  background-color: #004580;
}

.card-a p {
  font-size: calc(0.75em + 1vmin);
}

.card-a h5 {
  font-size: calc(1.5em + 1vmin);
}

.tarjeta:hover {
  background-color: #004580;
}


.bg-gradiente {
  background: linear-gradient(#A1C035, #006C9E);
}


.btn-verde  {
  background-color: #A1C035;
  color: white;
}
.btn-verde:hover  {
  background-color: #004580;
  color: white;
}

.btn-azul  {
  background-color: #004580;
  color: white;
}
.btn-azul:hover  {
  background-color: #A1C035;
  color: white;
}

.detalles {
  color: #696969;
  font-style: italic;
}


.bg-verde {
  background-color: #A9BE45;
}

.bg-rosa {
  background-color: #C787A2;
} 

.centrado {
  margin: auto;
  text-align: center;
}

.tarjeta {
  color: white;
  margin: 0.5em;
  text-decoration: none;
  border-radius: 15px;
  height: 38vh;
  transition: 0.4s;
  position: relative;
}

.tarjeta:hover {
  background-color: #004580;
}

.tarjeta a{
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.tarjeta p {
  font-size: calc(0.75em + 1vmin);
}

.tarjeta h2 {
  font-size: calc(1.75em + 1vmin);
}

.tarjeta .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}



.menu {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1.7em;
  color: #3A6794;
}

.boton-recorrido {
  background-color: #A1C035;
  border: 0px solid #3A6794;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  transition: 0.4s;
}

.boton-recorrido:hover {
  background-color: #3A6794;
  border: 0px solid white;
}

.boton-recorrido2 {
  background-color: #3A6794;
  border: 0px solid #3A6794;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  transition: 0.4s;
}

.boton-recorrido2:hover {
  background-color: #A1C035;
  border: 0px solid white;
}


.boton-azul {
  background-color: white;
  border: 3px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: #3A6794;
  padding: 0.5em 0.8em;
  margin: 1em;
  transition: 0.4s;
}

.boton-azul:hover {
  background-color: #3A6794;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 0.5em 0.8em;
  margin: 1em;
}

.boton-azul2 {
  background-color: #3A6794;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 0.5em 0.8em;
  transition: 0.4s;
  margin-top: 0.5em;
}

.boton-azul2:hover {
  background-color: white;
  border: 3px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: #3A6794;
  padding: 0.5em 0.8em;
}

button {
  border-radius: 50px;
}

.boton-rosa {
  background-color: #C787A2;
  font-size: 2em;
  border: 0px;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 0.5em 0.8em;
  margin: 0.5em;
  transition: 0.4s;
}

.boton-rosa:hover {
  background-color: white;
  font-size: 2em;
  border: 0px;
  border-radius: 50px;
  font-weight: 800;
  color: #C787A2;
  padding: 0.5em 0.8em;
  margin: 0.5em;
  transition: 0.4s;
}

/* ESTILOS REPRODUCTOR

audio::-webkit-media-controls-panel {
  background-color: #004580;
}

audio::-webkit-media-controls-timeline {
  color: white;
}

audio::-webkit-media-controls-volume-slider {
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

*/