
@font-face {
	font-family:"vietnam";
	font-style:normal;
	font-weight:400;
	src: url("fonts/vietnam/BeVietnamPro-Medium.ttf");
}


@font-face { 
	font-family:"vietnam-black";
	font-style:black;
	font-weight:800;
	src: url("fonts/vietnam/BeVietnamPro-Black.ttf");
}

@font-face {
	font-family:"vietnam-bold";
	font-style:black;
	font-weight:600;
	src: url("fonts/vietnam/BeVietnamPro-Bold.ttf");
}

body  {
  font-family: "vietnam";
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Raleway';
}

.navbar-brand{
    font-weight: 900;
}

.logos img{
    object-fit: contain;
    mix-blend-mode: color-burn; 
}


/* EFECTOS DE SCROLL */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* RESALTADO DE TEXTO */

.resaltado {
    background-color: #D1E1A9;
    padding: 0.2em;
  }

.bg-gradiente {
  background: linear-gradient(#A1C035, #006C9E);
}

.verde  {
  color: #D1E1A9;
}
.btn-verde  {
  background-color: #D1E1A9;
  color: white;
}
.btn-verde:hover  {
  background-color: #94a171;
  color: white;
}

.btn-azul  {
  background-color: #004580;
  color: white;
}
.btn-azul:hover  {
  background-color: #336A99;
  color: white;
}

.detalles {
  color: #696969;
  font-style: italic;
}

.bg-verde {
  background-color: #D1E1A9;
}

.bg-celeste {
  background-color: #A2D0E7;
}

.tarjeta a  {
  color: white;
  text-decoration: none;
}

.t-verde {
  background-color: #A9BE45;
  border: 2px solid #004580;
}

.t-rosa {
  background-color: #C787A2;
  border: 2px solid #004580;
}


.tarjeta {
  color: white;
  overflow: hidden;
  font-weight: 100;
  border-radius: 15px;
  height: 30vh;
  text-align: center;
  align-items: center;
  display: flex;
  transition: 0.4s;
  margin: 1em;
}
.tarjeta:hover {
  background-color: #004580;
}

.black {
  font-family: vietnam-black;
  font-weight: 800;
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}



.menu {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1.7em;
  color: #3A6794;
}

.boton-recorrido {
  background-color: #A1C035;
  border: 0px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 1em 1.5em;
  margin: 1em;
  transition: 0.4s;
}

.boton-recorrido:hover {
  background-color: #3A6794;
  border: 0px solid white;
}

.boton-recorrido2 {
  background-color: #3A6794;
  border: 0px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 1em 1.5em;
  margin: 1em;
  transition: 0.4s;
}

.boton-recorrido2:hover {
  background-color: #A1C035;
  border: 0px solid white;
}


.boton-azul {
  background-color: white;
  border: 3px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: #3A6794;
  padding: 0.5em 0.8em;
  margin: 1em;
  transition: 0.4s;
}

.boton-azul:hover {
  background-color: #3A6794;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 0.5em 0.8em;
  margin: 1em;
}

.boton-azul2 {
  background-color: #3A6794;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: 500;
  color: white;
  padding: 0.5em 0.8em;
  transition: 0.4s;
  margin-top: 0.5em;
}

.boton-azul2:hover {
  background-color: white;
  border: 3px solid #3A6794;
  border-radius: 50px;
  font-weight: 500;
  color: #3A6794;
  padding: 0.5em 0.8em;
}

button {
  border-radius: 50px;
}

.boton-rosa {
  background-color: #C787A2;
  font-size: 2em;
  border: 0px;
  border-radius: 50px;
  font-weight: 800;
  color: white;
  padding: 0.5em 0.8em;
  margin: 0.5em;
  transition: 0.4s;
}

.boton-rosa:hover {
  background-color: white;
  font-size: 2em;
  border: 0px;
  border-radius: 50px;
  font-weight: 800;
  color: #C787A2;
  padding: 0.5em 0.8em;
  margin: 0.5em;
  transition: 0.4s;
}


audio::-webkit-media-controls-panel {
  background-color: #CBD88F;
}

audio::-webkit-media-controls-timeline {
  color: white;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #CBD88F;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}